<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="robot_name" default="edo" />
  <arg name="upload_launch" default="$(find edo_description)/launch/edo_upload.launch" />
  <arg name="world_name" default="worlds/empty.world" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->

  <group ns="$(arg robot_name)">
    <include file="$(arg upload_launch)">
    </include>
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false" output="screen" />
  </group>

  <include file="$(find edo_gazebo)/launch/controller_utils.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <group ns="$(arg robot_name)">
    <rosparam file="$(find edo_gazebo)/controller/arm_controller_edo.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" respawn="false" output="screen"/>
  </group>

  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg robot_name)_world_robot_tf_broadcaster" args="0 0 0 0 0 0 world $(arg robot_name)/world" />



</launch>
